@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.container {
    overflow: hidden;
}

.homeSliderInformation {
    width: 50%;
    float: left;
    margin-top: 81px;
    margin-left: 120px;
}

.homeSliderImage {
    width: 50%;
    float: right;
    margin-top: -431px;
}

.infoTitle {
    border-left: 3px solid #ff5959;
    padding-left: 6px;
    font-family: 'Roboto', sans-serif;
}

.infoTitle h1 {
    font-size: 44px;
    margin-bottom: 6px;
}

.infoTitle h2 {
    font-size: 40px;
    color: #ffad5a;
}

.homeSliderInformation p {
    width: 50%;
    margin-top: 26px;
    margin-bottom: 20px;
    color: #7a7272;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.homeSliderImage img {width: 460px;height: 499px;}