@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.container {
    overflow: hidden;
    width: 1150px;
    margin: auto;
}

.homeSliderInformation {
    width: 50%;
    float: left;
    margin-top: 81px;
}

.homeSliderImage {
    width: 40%;
    float: right;
}

.infoTitle {
    border-left: 6px solid #ffad5a;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.infoTitle h1 {
    font-size: 50px;
    margin-bottom: 6px;
    margin-top: 30px;
    text-transform: capitalize;
}

.infoTitle h2 {
    font-size: 44px;
    color: #ffad5a;
    text-transform: capitalize;
}

.homeSliderInformation p {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #7a7272;
    line-height: 25px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.homeSliderImage img {
    width: 400px;
    height: 436px;
    margin-top: 50px;
}

a#exploreBtn {
    text-decoration: none;
    background: #ffad5a;
    color: white;
    padding: 14px 40px;
    border-radius: 3px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

section#myMission {
    margin: 80px 0px;
}

.myMissionTitle {
    text-align: center;
    font-size: 30px;
}

.myMissionBox {
    width: 340px;
    background: #edf5f6;
    border-radius: 20px;
    float: left;
    margin-right: 36px;
}

.myMissionBox img {
    width: 150px;
    margin-left: 20px;
}

.myMissionBox h2 {
    margin-left: 20px;
}

.myMissionBox p {
    margin-left: 20px;
    width: 255px;
    padding-bottom: 50px;
}

.myMissionTitle span {
    color: #ffad5a;
}

.myMissionTitle h1 {
    font-size: 46px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    word-spacing: -2px;
}

.myMissionBox h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.myMissionBox p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 85%;
    line-height: 22px;
    color: #958e8e;
}

.myMissionBox img {
    margin-top: 20px;
    margin-bottom: 8px;
}

.myMissionBoxfitst {
    width: 340px;
    float: left;
    background: #ffeeee;
    border-radius: 20px;
    margin-right: 36px;
    padding-left: 20px;
}

.myMissionBoxfitst img {
    width: 40%;
    margin-top: 38px;
}

.myMissionBoxfitst p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 85%;
    line-height: 22px;
    color: #958e8e;
}

.myMissionBoxSecend {
    width: 337px;
    float: left;
    background: #fff4d6;
    border-radius: 20px;
    padding-left: 30px;
}

.myMissionBoxSecend img {
    width: 40%;
    margin-top: 38px;
}

.myMissionBoxfitst h2 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.myMissionBoxSecend h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.myMissionBoxSecend p {
    line-height: 22px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin-bottom: 50px;
    margin-top: 16px;
    color: #958e8e;
}

.developerImage {
    width: 50%;
    float: left;
}

.developerInfo {
    width: 50%;
    float: left;
    margin-bottom: 70px;
}

.developerImage img {
    width: 480px;
}

.developerImageOne {
    position: relative;
    left: 130px;
    width: 410px;
    top: 108px;
}

.developerImageTwo {
    position: absolute;
    margin-top: -270px;
    margin-left: 240px;
}

.developerImageOne img {
    width: 70%;
    top: 60px;
}

.developerInfo h1 {
    font-size: 46px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
}

.developerInfo h2 {
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
}

.developerInfo p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    width: 70%;
    line-height: 27px;
    color: #767676;
    margin-bottom: 50px;
}

a#readBtn {
    text-decoration: none;
    background: #ffad5a;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 5px;
}

.globalCommunityInfo {
    width: 41%;
    float: left;
    margin-top: 300px;
    margin-left: 230px;
    margin-bottom: 50px;
}

.globalCommunityImage {
    width: 45%;
    float: right;
}

.globalCommunityOne {
    position: relative;
    width: 300px;
    top: 511px;
    left: 324px;
}

.globalCommunityTwo {
    position: absolute;
    width: 500px;
    margin-top: -105px;
}

.globalCommunityTwo img {width: 100%;}

.globalCommunityOne img {
    width: 100%;
}

.globalCommunityInfom h1 {
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
}

.globalCommunityInfo h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.globalCommunityInfo p {
    font-size: 18px;
    width: 539px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    line-height: 30px;
    color: #767676;
    margin-bottom: 60px;
}

section#globalCommunity {
    overflow: hidden;
    height: 825px;
}

section#myService {
    overflow: hidden;
    padding: 80px 0px;
}

section#developWithout {
    overflow: hidden;
}

.myServiceTitle {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.myServiceBox {
    width: 350px;
    border: 1px solid #ddd;
    text-align: center;
    float: left;
    margin-left: 52px;
}

.myServiceBox i {
    font-size: 80px;
    color: #e96228;
    margin-bottom: 20px;
    margin-top: 40px;
}

.myServiceBox h2 {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.myServiceBox p {
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    color: #767676;
    line-height: 22px;
}

i#cssIcon {color: #254bdd;}

span {
    color: #ffad5a;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.footerTitle h1 {
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.footerTitle p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

section#contactSection {
    padding: 80px 0px;
}

.contentTitle h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

textarea#messige {
    display: block;
    margin-left: 90px;
    margin-bottom: 48px;
    margin-top: 30px;
    width: 1020px;
    border-radius: 5px;
    height: 200px;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

input#emailBtn {
    width: 400px;
    padding: 18px;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    margin-right: 140px;
    margin-left: 90px;
    font-family: 'Roboto', sans-serif;
}

input#passwordBtn {
    width: 400px;
    padding: 18px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

button#submitBtn {
    text-align: center;
    margin-left: 520px;
    padding: 18px 44px;
    font-size: 20px;
    background: #ffad5a;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.contentTitle h1 span {
    margin-left: 12px;
}
